.section-about-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-block {
    z-index: 1;
    background-color: #1a1a1a;
    width: 70%;
    height: 600px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin-top: 150px;
}

.titles {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.about-me {
    font-size: 80px;
    color: #fff;
    opacity: 0.08;
    margin: 0;
    z-index: 2;
}
.about-me::after {
    content: "";
    width: 100px; 
    height: 3px; 
    background-color: #fff; 
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
}

.txt-title-about span {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
}

.text-about_me {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 20px;
    font-size: 25px;
    margin-top: 50px;
    max-width: 50%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.text-about_me.visible {
    opacity: 1;
}

.picture-about img {
    max-width: 330px;
    margin-left: 200px;
    margin-top: 40px;
}

.download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
}

.download-button a {
    color: white;
    border: 2px solid #ff4d5a;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

.download-button a:hover {
    background-color: #FF6600;
}