.home-section {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;  
    
}

.title-container {
    color: #fff;
    opacity: 0.9;
}

.title-wrapper {
    text-align: center; 
}

#hi-title {
    font-weight: lighter;
    font-size: 60px;
    top: 50;
    left: 50;
    margin: 0;
}

.je-suis {
    font-size: 60px;
}

.orange-letter {
    color: #ff4d5a;
}

.underline {
    content: "";
    width: 0; 
    height: 0.5px;
    background-color: #ff4d5a;
    margin-top:25px;
}

.underline.show {
    width: 95%; 
    animation: slideInLine 5s forwards; 
    margin-top:25px;
}

@keyframes slideInLine {
    from {
        transform: translateX(-30%);
    }
    to {
        transform: translateX(0);
    }
}

.photo-container {
    position: relative;
    margin-right: 300px;
    animation: float 4s infinite;
    
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); /* Ajustez la distance de flottement selon vos préférences */
    }
    100% {
        transform: translateY(0);
    }
}

.photo-myself {
    width: 470px;
    height: 470px;
    background-color: #e0e0e0; 
    clip-path: ellipse(50% 50% at 50% 50%);
}

.photo-myself:hover { 
    transform: scale(1.1); 
}

.photo-container img {
    width: 100%;
    height: 100%;
}

