.banner-container {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #1f1f1f;
  border-bottom: 1px solid #1a1a1a;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.navigation {
  color: #162747;
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
}

.menu {
  list-style: none;
  display: flex;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.menu li a.not-active {
  color: #ffffff;
}
.menu li a.active {
  color:#ff4d5a;
}
